<div id="example2-n">n = 1</div>
<button type="button" id="example2-increment">Increment</button>
<div id="example2-divide1">1 / 1 = 1.000</div>
<div id="example2-divide2">1 / 2 = 0.500</div>
<div id="example2-divide3">1 / 3 = 0.333</div>
<div id="example2-divide4">1 / 4 = 0.250</div>
<div id="example2-divide5">1 / 5 = 0.200</div>

<script>
  function $(id: string) {
    const element = document.getElementById(id);
    if (!element) {
      throw new Error(`Could not find element with id '${id}'`);
    }

    return {
      html(text: string) {
        element.innerHTML = text;
      },
      on<K extends keyof HTMLElementEventMap>(
        type: K,
        listener: (ev: HTMLElementEventMap[K]) => any,
      ) {
        element.addEventListener(type, listener);
      },
    };
  }

  function divide(a: number, b: number) {
    return a / b;
  }

  let n = 1;
  $("example2-increment").on("click", () => {
    n += 1;
    $("example2-n").html(`n = ${n}`);
    for (let i = 1; i <= 5; i++) {
      $(`example2-divide${i}`).html(`${n} / ${i} = ${divide(n, i).toFixed(3)}`);
    }
  });
</script>
