---
import { type CollectionEntry } from "astro:content";
import Calendar from "../assets/icons/calendar.svg";

interface Props {
  project: CollectionEntry<"project">;
}

const { project } = Astro.props;

let timeStr = `Posted ${project.data.createdAt.toDateString()}`;
let time = project.data.createdAt;
if (project.data.updatedAt) {
  timeStr = `Updated ${project.data.updatedAt.toDateString()}`;
  time = project.data.updatedAt;
}
---

<article>
  <div class="relative isolate">
    <h3
      class="text-primary-foreground text-lg underline-offset-4 hover:underline hover:decoration-wavy"
    >
      <a href={`/project/${project.id}`} class="">
        {project.data.title}
        <span class="absolute inset-0"></span>
      </a>
    </h3>
    <div class="flex items-center gap-2">
      <Calendar size={16} />
      <time
        datetime={time.toISOString()}
        class="text-muted-foreground text-sm italic">{timeStr}</time
      >
    </div>
    <p>{project.data.description}</p>
  </div>
  <ul class="flex flex-wrap gap-2">
    {
      project.data.tags.map((tag) => (
        <a
          class="hover:text-primary-foreground text-muted-foreground text-sm underline-offset-4 hover:underline hover:decoration-wavy"
          href="#"
        >
          <li>#{tag}</li>
        </a>
      ))
    }
  </ul>
</article>
